@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, Verdana,Arial;
    margin: 0;
    padding : 0;
    background-color: #1f2937;
}

.header-container ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 27px;
}

.logo{
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    cursor: pointer;
}

.content button{
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 900;
    border: none;
    padding: 8px 30px;
    border-radius: 6px;

}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.section-one-container{
    max-width: 1000px;
    margin: 0 auto;
}

.header-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 10px 0;
    border:1px solid red;
}

.hero-heading{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.hero-text{
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 16px;
}

.content{
    flex: 1;
}

img{
    flex: 1;
    height: 250px;
}

/*.first-section {
    height: 100%;
    width: 1000px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/
