@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, Verdana,Arial;
    margin: 0;
    padding : 0;
    height: 100vh;
    background-color: #1f2937;
}

.header-container ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 27px;
}

.logo{
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    cursor: pointer;
}

.content button{
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 900;
    border: none;
    padding: 8px 30px;
    border-radius: 6px;
    cursor: pointer;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.section-one-container{
    max-width: 1000px;
    margin: 0 auto;
}

.header-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    padding: 60px 0;
}

.hero-heading{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.hero-text{
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 16px;
}

.content{
    flex: 1;
}

img{
    flex: 1;
    height: 250px;
}

.section-two-container {
    background-color: #f9faf8;
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 48px;
}

.boxes-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}
.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 150px;
}

.box{
    border: 4px solid #3882f6;
    border-radius: 16px;
    width: 100%;
    height: 140px;
}

.box-text{
    text-align: center;
    color: #585c63;
    font-size: 16px;
}

.section-three-container{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 300px;
    padding: 40px 20px;
}

.quote-container {
    max-width: 800px;
}

.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}
.author{
    color: #1f2937;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
}

.section-four-container{
    background-color: #F9FAF8;
    max-width: 100%;
    padding: 60px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-four-container .container{
    background-color: #3882f6;
    border-radius: 10px;
    width: 900px;
    padding: 40px;
}

.action-button-container{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-heading{
    font-size: 20px;
    font-weight: 700;
    color: #F9FAF8;
    margin-bottom: 2px;
}

.call-action-container .signup-message{
    color: #F9FAF8;
    font-size: 18px;
    margin: 0;
}

.action-button-container button{
    background-color: #3882f6;
    border: 3px solid #F9FAF8;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    padding: 8px 30px;
    border-radius: 6px;
    cursor: pointer;
}
